@import url(https://www.cdnfonts.com/category/sans-serif)
  *::before,
  *::after {
    box-sizing: border-box;
  }
  *{
    font-family:sans-serif;
    line-height: 1.4;
    margin: 0;
    padding: 0;
  }
  body{
    background-color: wheat;
    color: black;
  }
  .card-container{
    perspective: 1000px;
    width: 350px;
    height: 250px;
    margin: 100px auto; 
  }
  .card{
    transform-style: preserve-3d;
    transition:transform 0.6s ease-in-out ;
    width: 100%;
    height: 100%;
  }
  .card-container:hover .card{
    transform: rotateY(180deg);

  }
 .frontcard,
 .backcard{
   position: absolute;
   width: 100%;
   height: 100%;
   backface-visibility: hidden;
   border-radius: 10px;
   overflow: hidden;
   box-shadow: 0px 20px rgb(126, 112, 216);
 } 
 .frontcard{
    background-color: white;
    padding: 20px;
 }
 .frontcard img{
    height: 100px;
    width: 100px;
   margin: 65px auto;
   display: block;
   max-width: 80%;
 }
 .backcard {
    position: relative;
    padding: 2px;
    border-radius: 15px;
    /*background: #3f6bfb;*/
    background: radial-gradient(circle, rgb(251, 63, 204) 0%, rgba(201, 22, 58, 1) 100%);
    transform: rotateY(180deg);
    animation: flow-border 1s linear infinite;
    background-size: 300% 300%;

}
.backcard-content{
    background-color: orchid;
    color: rgb(255, 0, 43);
    border-radius: 10px;
    padding: 20px 12px 15px 16px ;
    /*background: #1fb3b5;*/
    background: linear-gradient(0deg, rgba(31, 179, 181, 1) 0%, rgba(47, 180, 171, 1) 10%, rgba(82, 181, 150, 1) 23%, rgba(112, 182, 132, 1) 42%, rgba(253, 187, 45, 1) 90%);
    height: 100%;
    overflow-y: auto;
    text-align: left;
}
.name{
    font-size: 20px;
    letter-spacing: 2px;
    color:rgb(0, 204, 255);
    text-transform: uppercase;
    font-weight: 300;
}
.title{
    font-size: 20px;
    font-weight: 700;
    margin: 8px auto;
}
.description{
    color: brown;
    margin-bottom: 10px;
    font-size: 15px;
}
.btn{
   padding: 6px 12px;
   border: 5px solid rgb(255, 83, 80);
   background-color: darkmagenta;
   color: cornflowerblue;
   border-radius: 8px;
   cursor: pointer;
   font-weight: 800;
   font-size: 10px;
   text-decoration: none;
   display: inline-block;
   margin-top: 5px;
}
.btn:hover{
    background-color: rgba(255, 20, 145, 0.879);
    color: darkgoldenrod;
    border-color: lime;
}
.frontcard:hover{
    transform: rotateY(180deg);
}
@keyframes flow-border{
 0%{
    background-position: 0% 50%;
 }
 100%{
    background-position: 100% 50%;
 }   
}
